.button {
  height: 30px;
  width: 150px;
  font-size: 16px;
  background-color: var(--common-bg-color);
  color: var(--common-text-color);
  border: 1px solid var(--common-border-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--common-hover-bg-color);
}

.button:disabled {
  background-color: var(--common-hover-bg-color);
  color: var(--disabled-text-color);
  cursor: progress;
}


