.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: var(--common-bg-color);
  border-bottom: 1px solid var(--common-text-color);
}

.header__title-link {
  text-decoration: none;
}

.header__title-link:visited {
  color: currentColor;
}

.header__title {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .header__logout-button {
    width: 100px;
  }
}
