@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import 'themes/colors.css';
@import 'themes/light.css';
@import 'themes/dark.css';

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-size: 20px;
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
