@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --common-bg-color: #ffffff;
    --common-hover-bg-color: #eeeeee;
    --common-text-color: #000000;
    --error-text-color: #bb0000;
    --disabled-text-color: #575757;
    --common-border-color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --common-bg-color: #252525;
    --common-hover-bg-color: #707070;
    --common-text-color: #ffffff;
    --error-text-color: #ff0000;
    --disabled-text-color: #ababab;
    --common-border-color: #eeeeee;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--common-bg-color);
  color: var(--common-text-color);
}
