.field-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.field-wrapper input, select, textarea {
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
  min-height: 35px;
  height: 35px;
  line-height: 25px;
  font-size: 16px;
  border: 1px solid var(--common-border-color);
  border-radius: 0;
  background-color: var(--common-bg-color);
  color: var(--common-text-color);
}
