.field-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.field-wrapper input, select, textarea {
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
  height: 35px;
  line-height: 16px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
